[Unit]
Description=Keyboard Backlight Controls animation (%i)

[Service]
Type=simple
ExecStart=/usr/bin/keybackcon animation %i
ExecStopPost=/usr/bin/keybackcon stop
Restart=no
Nice=10

[Install]
WantedBy=default.target
