[Desktop Entry]
Type=Application
Name=Keyboard Backlight Controls
GenericName=Keyboard backlight
Comment=Fija la luz de tu teclado AERO X16 en dos toques
Exec=keybackcon-gui
Icon=keybackcon
Terminal=false
Categories=Settings;HardwareSettings;
Keywords=keyboard;backlight;rgb;teclado;luz;retroiluminacion;
StartupWMClass=org.iniciativas.keybackcon
